

<div align = "center">
      <nav class = "menu">
    <ul>
       <li class = "li-component"><a href = "/about">About</a></li>
      <li class = "li-component"><a href = "/projects">Works</a></li>
    </ul>
     </nav>
  
</div>