<!DOCTYPE html>
<html> 
      <meta name="viewport" content="width=device-width, initial-scale=0.6">
  
  <link rel="stylesheet" 
      href=  "style.css">
    <%- include('partials/menu.ejs') %>
  
  <body>
    <div class = "container" align = "center">
      
    <div align = "center" class = "about">
      <br>
      <h1 style="color: navy;"  >About</h1>
      
   
    <div class = "container">
      <div align = "center" class = "text1">
     Access to works that form part of the doctoral research project:<br><br> POST-INTERNET QUEER REPRODUCTIVE WORK<br>
        AND THE FIXED CAPITAL OF FERTILITY:<br>The interface, the network and the viral as Queer Marxist themes
and modes of artistic action<br><br> by Rebecca Close.<br><br>
        Aalto Doctoral Programme<br>
in Arts, Design and Architecture  
        <br>
        <br> 
        <br>
  </body>
    
      
  <style>
    
  
    
    
    .about {
      margin : 30px;
    }
      
    .text1 {
      margin : 5px;
      width : 500px;
      position : center;
      left : 40px;
      top : 50px;

    }
    
    .image1 {
      margin : 5px;
      width : 500px;
      position : center;
      left : 40px;
      top : 50px;
      
    }
    
  </style> 



</html>