<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  
  <head>
    <link rel = "stylesheet" href = "style.css">
     <%- include('partials/menu.ejs') %> 
  </head>
    
    <body>

    <div class = "container" align = "center">
      <h1 style="color: navy;" >Works</h1>
      
      
      
      <p1>
      <br><br><br><br>
      <div class = "container" align = "center">
      <a href="https://cdn.glitch.me/4a748334-4b67-4903-9b11-dbea78f7d510/Re%CC%81plica_Temporary%20Access.pdf">
      <div class = "project-card1">  
      <span class = "title">Réplica <br> </span><br><br><br><br>
      <span class = "long-description">A poetry collection</span><br><br><br><br><br>
      <span class = "biog">Access to pdf version</span> 
    </div></a>
       </p1> 
     
      <br><br><br><br><br><br>
        
       <p2>
      <div class = "container" align = "center"> 
        <a href="https://vimeo.com/728576501">
      <div class = "project-card2">  
      <span class = "title">The Wife of Them All<br></span><br><br><br><br>
      <span class = "long-description">A film </span><br><br><br><br><br>
      <span class = "biog">Link to vimeo, password: july2022</span> 
    </div></a> 
         </p2>
        
       <br><br><br><br><br><br> 
      <div class = "container" align = "center">
        <a href="http://the-wife-of-them-all.glitch.me/">
      <div class = "project-card3">  
      <span class = "title">The Wife of Them All<br></span><br><br><br><br>
      <span class = "long-description">A Net Art web work for the film</span><br><br><br><br><br>
      <span class = "biog">Link to site</span> 
    </div></a>

        <br><br><br><br><br><br>
      <div class = "container" align = "center">
         <a href="https://classic-gold-premium.glitch.me">
      <div class = "project-card4">  
      <span class = "title1">Classic Gold Premium<br></span><br><br><br><br>
      <span class = "long-description1">A work on the web</span><br><br><br><br><br>
      <span class = "biog1"> Link to site</span> 
    </div></a>
        
        
      <br><br><br><br><br><br>
      <div class = "container" align = "center">
         <a href="https://openprocessing.org/sketch/892779">
      <div class = "project-card5">  
      <span class = "title1">Networks of Care and Critique<br></span><br><br><br><br>
      <span class = "long-description1">A drawing tool</span><br><br><br><br><br>
      <span class = "biog1"> Link to Openprocessing</span> 
    </div></a>
        
        
        <br><br><br><br><br><br>
      <div class = "container" align = "center">
         <a href="http://www.them-all-magazine.com/">
      <div class = "project-card6">  
      <span class = "title2">Them, All Magazine<br></span><br><br><br><br>
      <span class = "long-description2">An editorial project</span><br><br><br><br><br>
      <span class = "biog2">Quick link</span> 
    </div></a>
        
        
        <br><br><br><br>
        <br><br><br><br>
    </div>
    </body>
  
    <style>
      
body {
  background-color: #D3D3D3;
}
        
      
    
    .title {
     color: navy }
      
    .small-description{
     color: navy }
    
    .long-description{
     color: navy }
    
    .biog {
     color: navy }
      
      
    .title1 {
     color: white }
      
    
    .long-description1 {
     color: white }
    
    .biog1 {
     color: white }
      
    
     .title2 {
     color: yellow }
      
    
    .long-description2 {
     color: yellow }
    
    .biog2 {
     color: yellow }
    
    
    .project-card1 {
      width : 350px;
      height : 450px;
      border : 10px solid grey;
      padding : 30px;
      border-radius : 60px;
      text-align : center;
      margin : 15px;
      display : inline;
      transition : 300ms ease-in;
      background : grey
    }
    
    
    .project-card1:hover {
      background : yellow;
      color : yellow;
      transform : scale (1.05);
      font : yellow
    }
      
      
    
      .project-card2 {
      width : 350px;
      height : 450px;
      border : 10px solid navy;
      padding : 30px;
      border-radius : 60px;
      text-align : center;
      margin : 15px;
      display : inline;
      transition : 300ms ease-in;
      background : yellow
    }
    
    
    .project-card2:hover {
      background : grey;
      color : grey;
      transform : scale (1.05);
      font : grey
    }
    
         .project-card3 {
      width : 350px;
      height : 450px;
      border : 10px solid grey;
      padding : 30px;
      border-radius : 60px;
      text-align : center;
      margin : 15px;
      display : inline;
      transition : 300ms ease-in;
      background : white
    }
    
    
    .project-card3:hover {
      background : grey;
      color : grey;
      transform : scale (1.05);
      font : grey
    }
      
          .project-card4 {
      width : 350px;
      height : 450px;
      border : 10px solid yellow;
      padding : 30px;
      border-radius : 60px;
      text-align : center;
      margin : 15px;
      display : inline;
      transition : 300ms ease-in;
      background : grey
    }
    
    
    .project-card4:hover {
      background : navy;
      color : navy;
      transform : scale (1.05);
      font : navy
    }
    
       .project-card5 {
      width : 350px;
      height : 450px;
      border : 10px solid navy;
      padding : 30px;
      border-radius : 60px;
      text-align : center;
      margin : 15px;
      display : inline;
      transition : 300ms ease-in;
      background : grey
    }
    
    
    .project-card5:hover {
      background : navy;
      color : navy;
      transform : scale (1.05);
      font : yellow
    }

      
        .project-card6 {
      width : 350px;
      height : 450px;
      border : 10px solid yellow;
      padding : 30px;
      border-radius : 60px;
      text-align : center;
      margin : 15px;
      display : inline;
      transition : 300ms ease-in;
      background : navy
    }
    
    
    .project-card6:hover {
      background : grey;
      color : grey;
      transform : scale (1.05);
      font : white
    }
      
    
  </style>
</html>